.navbar-brand {
  float: left;
  height: 75px;
  padding-top: 8px;
  font-size: 18px;
  line-height: 20px;
}

body > nav > div > div.navbar-header > img
{
	float: right;
	margin-right: 50%;
    width: 2em;
}

body 
{
    padding-top: 100px;
    padding-bottom: 120px;
}


.container
{	
	width: 80%;
	margin: auto;
	padding-left: none;
}

.swagger-section
{
	width: 100%;
	margin: auto;
}
.navbar-inverse 
{ 
	background-color: #36445F;
}

body > nav > div > div.navbar-header > a > img, #navbar > form
{
	padding-top: 10px;
}

.navbar-inverse .navbar-toggle
{
  border-color: transparent;
}

.navbar-toggle
{
	margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar:hover
{
	background-color: red;
}

#swagger-ui-container
{
	width: 80%;
	margin: auto;
}

#resources_container
{
	width: 100%;
	margin: auto;
	padding: 0;
	margin-top: 40px; 
}

body > div.container
{
	padding-left: 0;
}

footer{
	text-align: center;
}

hr   
{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}